$nav-link-color: #000000;
$nav-link-hover-color: #838383;


@import '~bootstrap/scss/bootstrap.scss';


.my-navbar-brand {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;


  &__title {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

  &__logo {
    margin: 0 5px;
  }
}

.user-pic {
  background-size: 32px 32px;
  margin-right: 0.5rem;
}




.page {
  margin: 50px 10px;
  .page-home {
    &__title {   
      margin: 15px 0;
      padding: 20px;
      font-size: 16px;
      cursor: default;
      text-align: center;
      p {
        color: #565656;
        font-weight: 300;
      }
    }

    &__tvshows {
      text-align: start;

      h4 {
        padding: 15px;
      }
    }

    &__movies {
      text-align: start;

      h4 {
        padding: 15px;
      }
    }
  }
}

.my-card {
  &__title {
    text-align: center;
    height: 120px;
  }

  &__about {
    cursor: default;
    height: 220px;
    text-align: center;
  }
}

.movie {
  .movie-contains{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 5px 0;
      padding: 10px;
      text-align: center;
    }

    &__video {
      margin: 5px 0;
      padding: 10px;
    }

    &__rest {
      display: flex;
      align-self: flex-start;

      margin: 20px;
      padding: 20px;
      
      .rest {
        padding: 10px;
        width: 270px;
        text-align: center;
        font-size: small;
      }
    }

    &__comments {
      align-self: stretch;
      .auth {
        display: flex;
        font-size: small;
        padding: 5px;

        &__sign {
          cursor: pointer;
          color: #1d65c4;
        }

        &__text {
          cursor:default;
          padding: 0 5px;
        }
      }
    }
  }
}

.tv-show {
  .tv-show-contains{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 5px 0;
      padding: 10px;
      text-align: center;
    }

    &__video {
      margin: 5px 0;
      padding: 10px;
    }

    &__rest {
      display: flex;
      align-self: flex-start;

      margin: 20px;
      padding: 20px;
      
      .rest {
        padding: 10px;
        width: 270px;
        text-align: center;
        font-size: small;
      }
    }

    &__comments {
      align-self: stretch;
      .auth {
        display: flex;
        font-size: small;
        padding: 5px;

        &__sign {
          cursor: pointer;
          color: #1d65c4;
        }

        &__text {
          cursor:default;
          padding: 0 5px;
        }
      }
    }

    &__return-button {
      display: flex;
      align-items: center;

      margin: 10px;
      padding: 10px;

      text-align: center;
      font-size: large;
      font-weight: 300;

      a {
        color: #565656;
        text-decoration: none;
      }
      p {
        cursor: default;
        color: #565656;
        padding: 0 5px;
      }
    }
  }
}

.seasons {
  text-align: center;
  .season {
    margin: 5px;
    padding: 10px;

    &__title {
      margin: 5px 0;
      padding: 5px;
      font-size: 22px;
      font-weight: 500;
      cursor: default;
    }

    &__tools {
      display: flex;
      justify-content: space-evenly;
    }
    
    &__episodes {
      margin: 10px 0;
      padding: 5px;

      .episode-tools {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      .episode-video {
        margin: 5px;
        padding: 5px;
      }
    }
  }
}

.comments {

  h6 {
    font-weight: 300;
  }

  .comment {
    display: flex;
    margin: .5rem;
    padding: 1rem;



    &__contains {
      cursor: default;
      min-width: 75%;
      height: 80px;
      opacity: 1;
      background-color: rgb(248, 249, 250);
      border: 1px solid #dee2e6;
      border-radius: .3rem;
      padding: 5px;
    }

    &__tools{
      display: flex;
      align-items: flex-start;
    }
  }

  .comment_send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
    padding: 1rem;

    &__field {
      display: flex;
      align-items: flex-end;

      padding: 5px;

      textarea {
        height: 80px; 
        width: 50%; 
        resize: none;
      }

      &__submit-btn {
        margin-left: .5rem;
      }
    }
  }
}

.my-footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  border-top: 1px solid #dee2e6;
  color: #6c757d;
  padding: 1rem 2rem;

  
}

@media (max-width: 700px) {


  .page {
    margin: 50px 15px;
  }

  .ok-iframe {
    width: auto;
    height: auto;
    display: block;
  }

  .my-card {

    &__title {
      height: auto;
    }

    &__about {
      display: none;
    }
  }


  .movie {
    .movie-contains {

      &__title {
        font-size: 20px;
        font-weight: 500;
      }

      &__rest {

        .rest {
          width: 150px;
        }
      }
    }
  }

  .tv-show {
    .tv-show-contains{

      &__title {
        font-size: 20px;
        font-weight: 500;
      }
  
      &__rest {
          .rest {
            width: 150px;
          }
      }
    }
  }
  .comments {
    .comment {
      &__tools {
        display: block;
      }
    }
  }

  .comment_send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
    padding: 1rem;

    &__field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      padding: 5px;

      textarea {
        min-width: 97%;
        height: 80px; 
        resize: none;
      }

      &__submit-btn {
        align-self: flex-start;
        margin-left: 0;
        margin-top: .5rem;
      }
    }
  }
}
