body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://firebasestorage.googleapis.com/v0/b/mznm-ts.appspot.com/o/mznm%2FbackgroundBody.jpg?alt=media&token=8e76cf28-9075-40b9-b21b-8b90141ff617), left top repeat;
  background-size: 70%;
  background-attachment: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
